<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section th:replace="~{producto/fragmentos :: formulario}"></section>
        <section th:replace="~{producto/fragmentos :: listado}"></section>
        
        <section th:replace="~{general/fragmentos :: confirmarEliminar(@{/producto/eliminar},'idProducto')}"></section>     
        <section th:replace="~{general/fragmentos :: mostrarToast}"></section>
        <footer th:replace="~{general/fragmentos :: footer}"></footer>

        <script th:src="@{/js/modulos/producto.js}"></script>
    </body>
</html>